body {
    padding-top: 1em;
}

.main-container {
    width: 50vw;
    outline: 1px solid #c4c4c4;
    -webkit-box-shadow: 2px 2px 5px 0 #c4c4c4;
    box-shadow: 2px 2px 5px 0 #c4c4c4;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    min-width: 350px;
    background: white;
    max-width: 1000px;
}

.container-wide {
    width: 80vw !important;
    max-width: none !important;
}

.stdout-output {
    font-family: 'Courier New', monospace;
    font-size: 13px;
    max-height: 170px;
    height: 170px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#analysis-progress {
    margin-top: 20px;
}

#shapeup-adults {
    margin-bottom: 0;
}

#upload_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh;
    height: 60vh;
    min-height: 350px;
    max-height: 450px;
}

.main-container form label {
    flex: 25% 2 1;
    text-align: right;
}

.main-container form input, 
.main-container form select {
    flex: 60% 1 2;
    height: 30px;
}

.my-btn {
    width: 50%;
    min-height: 40px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px 0 #c4c4c4;
    box-shadow: 2px 2px 5px 0 #c4c4c4;
    background-color: #aaccff;
}

.my-btn a {
    text-decoration:none;
    color: white;
}

.my-btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #6699ee;
    cursor: pointer;
}

#load {
    text-align: center;
}

#loading-overlay {
    padding: 10%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.25);
    position: absolute;
}

.predictions {
    display:inline-block;
    margin-right: 10px;
}
