{% extends "main_template.html" %}

{% block content %}
<!-- BOOTSTRAP FOR LOADING SPINNER -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>


    <script>
        $(function () {
            $('#upload_form').on('submit', function (e) {
                $('#upload_form').append('<div class="spinner-border" role="status"> <span class="sr-only">Loading...</span> </div><h5 id="load">Checking your files... don\'t close the window...</h5>')
                $('#form-submit').attr('disabled', 'disabled');
            });
        })
    </script>

<h2 id="shapeup-adults" style="text-align: center;">Shape Up! Adults</h2>
<h1 id="form-title" style="text-align: center;">3D Optical Body Composition Analyzer</h1>
<div class="main-container">
    <form id="upload_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input id="form-submit" class="my-btn" type="submit" value="Submit" />
    </form>
</div>
{% endblock %}